* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(14, 14, 14);
}

header {
  display: flex;
  background-color: black;
  color: red;
}

header > img {
  margin-top: 1%;
  margin-left: 1%;
}

h1 {
  margin: 0;
  margin-left: 29%;
  font-size: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

nav {
  background-color: rgb(49, 49, 49);
  text-align: center;
}

.home-login {
  background-color: rgb(75, 75, 75);
  text-decoration: none;
  color: whitesmoke;
  margin: 1% 1% 1% 1%;
  font-size: 20px;
  text-indent:0;
	border:2px solid #d02718;
  border-radius: 12% 12% 12% 12%;
	display:inline-flex;
	font-family:Verdana;
	font-weight:bold;
	font-style:normal;
  height:80px;
	line-height:80px;
  width:160px;
	text-decoration:none;
	align-items :center;
  align-content: center;
  justify-content: center;
	text-shadow:2px 1px 0px #810e05;
  margin-bottom: 1%;
}

#peliculas {
  background-color: rgb(51, 21, 21);
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 2%;
  box-shadow: 9px 9px 26px -10px rgba(0,0,0,0.55) inset;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; 
  border-bottom: 0px;
}

#container {
  margin-bottom: 2%;
}

#login {
  background-color: rgb(75, 75, 75);
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 2%;
  font-size: 20px;
  text-indent:0;
	border:2px solid #d02718;
  margin-bottom: 2%;
}

.button {
  margin-bottom: 2%;
}

h2 {
  font-size: 30px;
  color: red;
  padding-left: 5px;
  padding-right: 15px;
}

.images {
  border-radius: 12% 12% 0 0;
  object-fit: cover;
}

.img-container {
  color: grey;
  background-color: crimson;
  display: flex;
  flex-direction: column;
  align-items: center; 
  border: 1px solid black;
  border-radius: 10%;
  margin: 20px auto;
  box-shadow: 0px -100px 100px 14px #000 inset;
}

.editar-eliminar {
  text-indent:0;
	border:1px solid #d02718;
  border-radius: 12% 12% 12% 12%;
	display:inline;
	color:red;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
  height:30px;
	line-height:30px;
  width:68px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
  margin-bottom: 2px;
  box-shadow: 9px 9px 26px -10px rgba(0,0,0,0.55) inset;
}

.editar-eliminar:hover {
	background-color:#c62d1f;
  color: darkgray;
}

.editar-eliminar:active {
	position:relative;
	top:1px;
}

.background {
  box-shadow: 9px 9px 26px -10px rgba(0,0,0,0.55);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; 
}

.director {
  color: whitesmoke;
}

.lista-directores {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-passw {
  display: flex;
  align-items: center;
  justify-content: center;
}

#details {
  display: block;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
}

#container-details {
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}