* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(14, 14, 14);
}

header {
  display: flex;
  background-color: black;
  color: red;
}

header > img {
  margin: 20px;
}

h1 {
  margin: auto;
  font-size: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

nav {
  background-color: rgb(49, 49, 49);
  text-align: center;
}

.menu-item {
  background-color: rgb(75, 75, 75);
  text-decoration: none;
  color: whitesmoke;
  margin: 10px;
  border: 2px solid #d02718;
  border-radius: 5px;
  display: inline-flex;
  font-family: Verdana;
  font-weight: bold;
  font-style: normal;
  padding: 10px;
  justify-content: center;
}

#peliculas {
  background-color: rgb(51, 21, 21);
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 2%;
  box-shadow: 9px 9px 26px -10px rgba(0, 0, 0, 0.55) inset;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-bottom: 0px;
}

#peliculas .title {
  color: lightgray;
}

#container {
  margin-bottom: 2%;
}

#login {
  background-color: rgb(75, 75, 75);
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 2%;
  font-size: 20px;
  text-indent: 0;
  border: 2px solid #d02718;
  max-width: 500px;
  margin: 40px auto;
}

.button {
  margin-bottom: 2%;
}

h2 {
  font-size: 30px;
  color: whitesmoke;
  padding-left: 5px;
  padding-right: 15px;
}

.img-container {
  color: grey;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 20px auto;
  border-radius: 12px 12px;
}

.img-container .movie-title {
  font-size: 20px;
  word-break: break-all;
  color: darkred;
  font-weight: bold;
  margin: 5px;
}

.img-container > .cover {
  border-radius: 10px 10px 0 0;
}

.boton-accion-container {
  display: flex;
  flex-direction: column;
}

.boton-accion {
  background-color: rgb(75, 75, 75);
  text-decoration: none;
  color: whitesmoke;
  margin: 10px;
  border: 2px solid #d02718;
  border-radius: 5px;
  display: inline-flex;
  font-family: Verdana;
  font-weight: bold;
  font-style: normal;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
}

.boton-accion:hover {
  background-color: #c62d1f;
}

.editar-eliminar:active {
  position: relative;
  top: 1px;
}

.background {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.director {
  color: whitesmoke;
}

.lista-directores {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-passw {
}

#details {
  display: block;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
}

#container-details {
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}
